body {
  font-family: Arial;
  background: #cbddef;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.app {
  background: rgb(229, 180, 237);
  padding: 20px;
  width: 320px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  margin: 2px;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: rgb(36, 33, 33);
}